<!DOCTYPE html>
<html lang="en">
  <!--general infomraion of the webpage-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chatbot</title>
    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="shortcut icon" href='favicon.ico' type="image/x-icon">
    <link rel="icon" href='favicon.ico' type="image/x-icon"> -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  </head>
  <!--end general information-->
  <body>

    <!--Chatbot container-->
    <main>  
      <div class="chatbot">
        <div class="chat-header">
          <div class="header-top">
            <h1>Freddy's LLM</h1>
          </div>
        </div>
        <div class="chat-body">
          <aside class="sidebar">
            <button class="new-chat-btn" id="new-chat-btn">+ New chat</button>
            <div class="tab-bar" id="tab-bar"></div>
          </aside>
          <section class="chat-main">
            <div class="spacer" id="messages-container"></div>
            <form class="chat-form" id="message-form" action="#">
              <textarea type="text" id="message-input" placeholder="Send a message..." autofocus></textarea>
              <button type="submit">➤</button>
            </form>
          </section>
        </div>
      </div>
    </main>
    <!--end chatbot container-->

    <!--Javascript to call the language model-->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!--end Javascript to call the language model-->
  </body>
</html>
